
<h1>
Events
</h1>

<div class="col-sm-6 mx-auto my-2">
    <div class="card mx-auto">
      <div class="card-body mx-auto">
        <a href="/events/new"  class="btn btn-primary" >New Event</a> 
      </div>
    </div>
  </div> 

{{#each events}}
  <div class="col-sm-6 mb-3 mb-sm-0 mx-auto">
    <div class="card">
      <div class="card-header">

          <h5  class="card-title">{{this.title}}</h5>
        
      </div>
      <div class="card-body">
       
        
        <p class="card-text">{{this.description}}</p>
        <p class="card-text">Time: {{this.date}}</p>

        <iframe
          width="100%"
          height="450"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/place?key=AIzaSyArcPIIQNiga2-bKb1BUSeNJFM1LqJBLZk
            &q={{this.location}}">
        </iframe>
          {{#if this.editable}}
            <a href="/events/{{this._id}}/edit" class="btn btn-primary">Editar</a> 
            <a href="/events/{{this._id}}/delete" class="btn btn-danger">Borrar</a>
          {{/if}}   

      </div>
      <hr />
      <div class="container">
        <h5>Invited people:</h5>
        <ul class="list-group">
          {{#each this.invited}}
            <li
              class="list-group-item d-flex justify-content-between align-items-start"
            >
              <div class="ms-2 me-auto">
                {{this.username}}
              </div>
            </li>
          {{/each}}
        </ul>
        <br />
        <form action="/events/addMe" method="POST">
          <input
            class="d-none"
            type="text"
            name="eventId"
            value="{{this._id}}"
          />
          <button class="btn btn-primary btn-sm">Add myself</button>
        </form>
      </div>
    </div>
  </div>
  <br />

{{/each}}