

<div class="row">

   {{#if error}}
      <div class="alert alert-primary" role="alert">
       {{error}}
     </div>
   {{/if}}


  <div class="col-sm-6 mx-auto">
    <div class="card">
      <div class="card-body">
        <a href="/posts/new" class="btn btn-primary">New post</a>
      </div>
    </div>
  </div>
  <hr />

  {{#each posts}}
    <div class="col-12">
      <div class="card mx-auto" style="width: 42rem;">
        <div class="card-body">
       <a href="/posts/{{this._id}}">
          <h5 class="card-title">{{this.title}}</h5>
       </a>
          <p class="card-text">{{this.description}}</p>
 
  
        <iframe
          width="600" height="450"    style="border:0"  loading="lazy"    referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/directions?mode=walking&origin={{this.origin}}&destination={{this.destination}}&key=AIzaSyArcPIIQNiga2-bKb1BUSeNJFM1LqJBLZk">
        </iframe>
          
          <form action="/posts/{{this._id}}/like" method="POST">
        <button type="submit" class="btn btn-primary">Me Gusta</button>
        </form>
        <span>{{this.likes.length }} likes</span>
 <br>
          {{#if this.esMiPost}}
              <a href="/posts/{{this._id}}/edit" class="btn btn-primary">Editar</a>
              <a href="/posts/{{this._id}}/delete" class="btn btn-danger">Borrar</a>
          {{/if}}

          
        </div>
        <hr />
        <div class="container">
          <h5>Comments</h5>
          <ul class="list-group">
             {{#each this.comments}}
                <li  class="list-group-item d-flex justify-content-between align-items-start" >
                  <div class="ms-2 me-auto">
                    <strong> {{this.userId.username}}</strong>:
                    {{this.content}}
                    {{this.esMio}}
                    
                  </div>
                    {{#if this.esMio}} 
                      <a href="/comments/delete/{{this.id}}" class="btn btn-danger">Delete</a>
                   {{/if}}

                </li>
             {{/each}}


            <li class="list-group-item d-flex justify-content-between align-items-start" >
              <div class="ms-2 me-auto">
                <form action="/comments/create" method="POST">
                  <input class="form-control" type="text" name="content" /> 
                  <input class="d-none" type="text" name="postId" value="{{this._id}}" />
                  <button class="btn btn-secondary btn-sm">add comment</button>
                </form>
              </div>
            </li>
          </ul>
          <br />
        </div>
      </div>
    </div>
    

  {{/each}}
  <script>

  </script>
  
</div>