<div class="container">

 <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{post.title}}</h5>
          <p class="card-text">{{post.description}}</p>

          <a href="/posts/edit/{{post._id}}" class="btn btn-primary">Editar</a>
          <a href="/posts/delete/{{post._id}}" class="btn btn-danger">Borrar</a>
        
      
        <iframe
          width="600" height="450"    style="border:0"  loading="lazy"    referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/directions?mode=walking&origin={{post.origin}}&destination={{post.destination}}&key=AIzaSyArcPIIQNiga2-bKb1BUSeNJFM1LqJBLZk">
        </iframe>

        <form action="/posts/{{post._id}}/like" method="POST">
          <button type="submit" class="btn btn-primary">Me Gusta</button>
        </form>


        </div>
        <hr />
        <div class="container">
          <h5>Comments</h5>
          <ul class="list-group">
              {{#each post.comments}}
                <li  class="list-group-item d-flex justify-content-between align-items-start" >
                  <div class="ms-2 me-auto">
                    {{this.content}}
                  </div>
                </li>
             {{/each}}
          </ul>
          <br />
        </div>
      </div>
    </div>

</div>