<div class="container">

 <div class="col-sm-6 mb-3 mb-sm-0 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"> 👤 {{post.user.username}} - {{post.title}}</h5>
          <p class="card-text">{{post.description}}</p>

      {{#if editable}}
          <a href="/posts/{{post._id}}/edit" class="btn btn-warning">Edit</a>
          <a href="/posts/{{post._id}}/delete" class="btn btn-secondary">Delete</a>
      {{/if}}   
      
        <iframe
          width="600" height="450"    style="border:0"  loading="lazy"    referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/directions?mode=walking&origin={{post.origin}}&destination={{post.destination}}&key=AIzaSyArcPIIQNiga2-bKb1BUSeNJFM1LqJBLZk">
        </iframe>

        <form action="/posts/{{post._id}}/like" method="POST">
          <button type="submit" class="btn btn-light">❤ Me Gusta</button>
        </form>
        <span>{{post.likes.length }} likes</span>

        </div>
        <hr />
        <div class="container">
          <h5>Comments</h5>
          <ul class="list-group">
              {{#each post.comments}}
                <li  class="list-group-item d-flex justify-content-between align-items-start" >
                  <div class="ms-2 me-auto">
                     <strong> {{this.userId.username}}</strong>:
                    {{this.content}}
                  </div>
                </li>
             {{/each}}
          </ul>
          
            <li class="list-group-item d-flex justify-content-between align-items-start" >
              <div class="ms-2 me-auto">
                <form action="/comments/create" method="POST">
                  <input class="form-control" type="text" name="content" /> 
                  <input class="d-none" type="text" name="postId" value="{{post._id}}" />
                  <button class="btn btn-secondary btn-sm">add comment</button>
                </form>
              </div>
            </li>
          <br />
        </div>
      </div>
    </div>

</div>